<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8" />
	<link href="<?php echo BASE_URL.'/css/bootstrap.css';?>" rel="stylesheet" />
	<title>Home - Frencheese</title>
</head>

<body>
	<div class="container">
		<div class="page-header">
			<ul class="nav nav-pills pull-right">
				<li> <a href="<?php echo BASE_URL.'/artiste';?>">Artistes</a></li>
				<li> <a href="<?php echo BASE_URL.'/album';?>">Albums</a></li>
				<li> <a href="<?php echo BASE_URL.'/utilisateur';?>">Utilisateurs</a></li>
				<li> <a href="<?php echo BASE_URL.'/contact';?>">Contacts</a></li>
				<?php
					if (isset($_SESSION['droit'])) {
						$co = "Deconnexion";
						$lien = BASE_URL.'/deconnexion';
					} else {
						$co = "Connexion";
						$lien = BASE_URL.'/connexion';
					}
					if(!isset($_SESSION['droit'])) { ?>
					<li> <a href="<?php echo BASE_URL.'/inscription';?>">Inscription</a></li>
					<?php } ?>
					<li>
						<a href="<?php echo $lien;?>">
							<?php echo $co ?>
						</a>
					</li>
			</ul>
			<h3 class="muted">Frencheese
			</h3>
		</div>
		<p class="lead">Bienvenue sur Frencheese, le site n°1 de référencement musical.</br>
			<ul>
				<li>Posséder son propre compte utilisateur.</li>
				<li>Donner votre avis sur un album ou un artiste en commentaire, ou en notant.</li>
				<li>Ajouter vos artistes et albums préférés dans notre base de données.</li>
			</ul>
		</p>
		<br>
		<p>
			<?php if(isset($_SESSION['droit']) && $_SESSION['droit'] == "administrateur") { ?>
		<h4>Commande administrateur </h4><br>
			<a href="<?php echo BASE_URL.'/administrateur/inscription';?>">Liste des demandes d'inscription</a><br>
			<a href="<?php echo BASE_URL.'/administrateur/commentaire';?>">Liste des commentaires </a>
			<?php } ?>
		</p>
		<br>
		<?php if (isset($_SESSION['droit'])) { ?>
		<p>
			<h4>
				TOP 5 des meilleurs albums
			</h4>
			<table class="table table-bordered">
				<th>Titre de l'album</th><th>Nom de l'artiste</th><th>Genre</th><th>Note</th>
				<?php foreach($this->palmares as $palma) : ?>
				<tr>
					<td><?php echo $palma->nomAl;?></td>
					<td><?php echo $palma->nomArt ;?></td>
					<td><?php echo $palma->genre;?></td>
					<td><?php echo $palma->note;?></td>
				</tr>
				<?php endforeach; ?>
			</table>
		</p>
		<br>
		<?php if(isset($_SESSION['dateDeco']) && isset($this->actualite)) {?>
		<h4> Actualité liste des 5 derniers commentaires</h4>
		<table class = "table table-bordered">
			<th>Utilisateur</th><th>Album</th><th>Artiste</th><th>Commentaire</th><th>Date</th>
			<?php foreach($this->actualite as $actus) { ?>
			<tr>
				<td><?php echo $actus->pseudo?></td>
				<td><?php echo $actus->nomAl?></td>
				<td><?php echo $actus->nomArt?></td>
				<td><?php echo $actus->commentaire?></td>
				<td><?php echo $actus->date?></td>
			</tr>
			<?php } ?>
		</table>
		<br>
		<?php } //fin if ?>
			<table class = "table table-bordered">
				<tr>
					<td>
						<p>
						<h4>Recherche sur un album par artiste</h4>
							<form method="post" action='<?php echo BASE_URL."/album/artiste/";?>'>
								<table>
									<tr>
										<td>
											<select name="artiste">
												<?php foreach($this->listeArtiste as $artiste) {?>
												<option value="<?php echo $artiste->nomArt;?>"><?php echo $artiste->nomArt ;?></option>	
												<?php } ?>
											</select>
										</td>
									</tr>
									<tr><td><input type="submit" value="Rechercher" class="btn btn-info" /></td></tr>
								</table>
							</form>
						</p>	
					</td>
					<td>
						<p>
							<h4>Recherche un album par son genre</h4>
							<form method="post" action='<?php echo BASE_URL."/album/genre/";?>'>
								<table>
									<tr><td>
										<select name="genre">
											<?php foreach($this->listeGenre as $genre) {?>
											<option value="<?php echo $genre->genre;?>"><?php echo $genre->genre; ?></option>
											<?php } ?>
										</select>
									</td></tr>
									<tr><td><input type="submit" value="Rechercher" class="btn btn-info"/></td></tr>
								</table>
							</form>
						</p>
					</td>
				</tr>
				<tr>
					<td>
						<p>
							<h4>Rechercher un album par sa date</h4>
							<form method="post" action='<?php echo BASE_URL."/album/date/";?>'>
								<table>
									<tr>
										<td><input type="date" placeholder="aaaa-mm-jj" name="dateAl" value="2008-09-29"></td>
									</tr>
									<tr>
										<td><input type="submit" value="Rechercher" class="btn btn-info"/></td>
									</tr>
								</table>
							</form>
						</p>
					</td>
				
				<td>
					<p>
							<h4>Rechercher un album par sa note</h4>
							<form method="post" action='<?php echo BASE_URL."/album/note/";?>'>
								<table>
									<tr><td>
										<select name="note">
											<?php foreach($this->listeNote as $notes) { ?>
												<option value="<?php echo $notes->note;?>"><?php echo $notes->note; ?></option>
											<?php } ?>
										</select>
									</td></tr>
										<td><input type="submit" value="Rechercher" class="btn btn-info"/></td>
								</table>
							</form>
						</p>

				</td>
				</tr>
				
			</table>	
			<table>
				<tr>
					<td>
						<p>
							<h4>Rechercher un profil d'utilisateur</h4>
							<form method="post" action='<?php echo BASE_URL."/utilisateur/afficherProfil/";?>'
								<table>
									<tr>
										<td><select name="idU">
											<?php foreach($this->utilisateur as $utilisateurs) : ?>
											<option value="<?php echo $utilisateurs->idU;?>"><?php echo $utilisateurs->pseudo ?></option>
											<?php endforeach; ?>
										</select></td>
									</tr>
									<tr>
										<td><input type="submit" value="Rechercher" class="btn btn-info"/></td>
									</tr>
								</table>
							</form>
						</p>
					</td>
				</tr>
			</table>
			
			
		<?php } ?>
		<hr>
		<div class="text-center">
			<a href="<?php echo BASE_URL;?>">page d'accueil</a>
		</div>
		</footer>
	</div>
</body>

</html>