<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8"/>
		<link href="<?php echo BASE_URL.'/css/bootstrap.css';?>" rel="stylesheet" />
		<title>Site Internet</title>
	</head>
	<body>
		<div class="container">
			<div class="page-header">
				<ul class="nav nav-pills pull-right">
					<li> <a href="<?php echo BASE_URL.'/artiste';?>">Artistes</a></li>
					<li> <a href="<?php echo BASE_URL.'/utilisateur';?>">Utilisateurs</a></li>
					<li> <a href="<?php echo BASE_URL.'/album';?>">Albums</a></li>
					<li> <a href="<?php echo BASE_URL.'/contact';?>">Contacts</a></li>
					<li> <a href="#">A propos</a></li>
					<li> <a href="#">Connexion</a></li>
					<li> <a href="<?php echo BASE_URL.'/inscription';?>">Inscription</a></li>
				</ul>
				<h3 class="muted">Réseau social Musique
			</h3>
		</div>
		<p class="lead">Bienvenue sur le site n°1 de référencement musical.</br>
		Le site est actuellement en phase de construction, mais il sera bientôt possible de :</br>
		<ul>
  		<li>Posséder son propre compte utilisateur.</li>
  		<li>Donner votre avis sur un album ou un artiste en commentaire, ou en notant.</li>
 			<li>Ajouter vos artistes et albums préférés dans notre base de données.</li>
		</ul>
		</br>
			À bientôt !
		</p>
			<hr>
			<div class="text-center">
				<a href="<?php echo BASE_URL;?>">page d'accueil</a>
			</div>
		</footer>
	</div>
</body>
</html>
