<?php session_start(); ?>
<!DOCTYPE html>
<html>
<head>
   <meta charset="utf-8"/>
   <title>Frencheese - Utilisateur</title>
   <link href='<?php echo BASE_URL."/css/bootstrap.css";?>' rel="stylesheet" />
</head>
<body>
	<div class="container">
		<div class="page-header">
			<ul class="nav nav-pills pull-right">
				<li> <a href="<?php echo BASE_URL.'/artiste';?>">Artistes</a></li>
				<li> <a href="<?php echo BASE_URL.'/utilisateur';?>">Utilisateurs</a></li>
				<li> <a href="<?php echo BASE_URL.'/album';?>">Albums</a></li>
				<li> <a href="<?php echo BASE_URL.'/contact';?>">Contacts</a></li>
				<?php
				if (isset($_SESSION['droit'])) {
					$co = "Deconnexion";
					$lien = BASE_URL.'/deconnexion';
				} else {
					$co = "Connexion";
					$lien = BASE_URL.'/connexion';
				}
				?>
				<li> <a href="<?php echo $lien;?>"><?php echo $co ?></a></li>
				<li> <a href="<?php echo BASE_URL.'/inscription';?>">Inscription</a></li>
			</ul>
			<h3 class="muted"><?php echo $this->utilisateur->pseudo; ?></h3>
		</div>
		<table class="table table-bordered">
			<tr><td>Id</td><td><?php echo $this->utilisateur->idU ;?></td></tr>
			<tr><td>Nom Prenom</td><td><?php echo $this->utilisateur->nomU." ".$this->utilisateur->prenomU;?></td></tr>
			<tr><td>Email</td><td><?php echo $this->utilisateur->email ;?></td></tr>
			<tr><td>Pseudo</td><td><?php echo $this->utilisateur->pseudo ;?></td></tr>
		</table>
		<br>
		<?php if(count($this->com) > 0) { ?>
		<h3>
			Liste de ses commentaires
		</h3>
		<table class="table table-bordered">
			<?php foreach($this->com as $coms) { ?>
			<tr>
				<td><?php echo $coms->commentaire."<br><small> Album : ".$coms->nomAl." le ".$coms->date."</small>"; ?></td>
			</tr>
			<?php } //endforeach ?>
		</table>
		<?php } ?>
	 <?php if(count($this->note) > 0) { ?>
		<h3>
			Liste de ses notes
		</h3>
		<table class="table table-bordered">
			<?php foreach($this->note as $notes) { ?>
			<tr>
				<td><?php echo $notes->nomAl ?></td><td><?php echo $notes->note."/5" ?></td>
			</tr>
			<?php } //endforeach ?>
		</table>
	<?php } ?>
   <footer>
	   <hr>
	   <p class="text-center"><a href='<?php echo BASE_URL?>'>retour à la page d'acceuil</a></p>
   </footer>
   </div>
</body>
</html>