<?php session_start(); ?>
<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8"/>
	<link href="<?php echo BASE_URL.'/css/bootstrap.css';?>" rel="stylesheet" />

		<title>Utilisateur</title>
	</head>
	<body>
		<div class="container">
			<div class="page-header">
				<ul class="nav nav-pills pull-right">
					<li> <a href="<?php echo BASE_URL.'/artiste';?>">Artistes</a></li>
					<li> <a href="<?php echo BASE_URL.'/utilisateur';?>">Utilisateurs</a></li>
					<li> <a href="<?php echo BASE_URL.'/album';?>">Albums</a></li>
					<li> <a href="<?php echo BASE_URL.'/contact';?>">Contacts</a></li>
					<?php
					if (isset($_SESSION['droit'])) {
						echo $_SESSION['droit'];
						$co = "Deconnexion";
						$lien = BASE_URL.'/deconnexion';
					} else {
						$co = "Connexion";
						$lien = BASE_URL.'/connexion';
					}
					?>
					<li> <a href="<?php echo $lien;?>"><?php echo $co ?></a></li>
					<li> <a href="<?php echo BASE_URL.'/inscription';?>">Inscription</a></li>
				</ul>
				<h1>Listes des utilisateurs</h1>
			</div>
			<?php if(isset($_SESSION['droit']) && $_SESSION['droit'] == "administrateur") { ?>
			<table class="table table-stripped">
				<thead>
					<tr>
						<th>Pseudo</th><th>Prénom</th><th>Nom</th><th>Email</th><th>id</th><th></th>
					</tr>
				</thead>
				<tbody>
					<?php foreach($this->list as $utilisateur) : ?>
					<tr>
						<td>
							<?php echo $utilisateur->pseudo;?>
						</td>
						<td><?php echo $utilisateur->prenomU;?>
						</td>
						<td><?php echo $utilisateur->nomU;?>
						</td>
						<td><?php echo $utilisateur->email;?>
						</td>
						<td><?php echo $utilisateur->idU;?>
						</td>
						<td><a href='<?php echo BASE_URL."/utilisateur/afficher/".$utilisateur->idU;?>' 
								class="btn btn-info"><i class="icon icon-search"><i></a></td>
							</tr>
					<?php endforeach;?>
				</tbody>
			</table>
			<?php } //Fin du if $_SESSION(['droit'])
			else {
				echo "<p> Pour voir les artistes il vous faut etre inscrit et connecté </p>"; ?>
					<p> <a href="<?php echo $lien;?>">-> Pour vous connecter</a></p>
					<p> <a href="<?php echo BASE_URL.'/inscription';?>"> -> Par encore inscrit c'est par ici</a></p>
			<?php } //Fin else ?>
			<footer>
				<hr>
				<div class="text-center">
					<a href="<?php echo BASE_URL;?>">page d'accueil</a>
				</div>
			</footer>
		</div>
	</body>
</html>