<?php /*session_start();*/ ?>
<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8"/>
		<link href="<?php echo BASE_URL.'/css/bootstrap.css';?>" rel="stylesheet" />
		<title>Fin d'inscription - Frencheese</title>
	</head>
	<body>
		<div class="container">
			<div class="page-header">
				<ul class="nav nav-pills pull-right">
					<li> <a href="<?php echo BASE_URL.'/artiste';?>">Artistes</a></li>
					<li> <a href="<?php echo BASE_URL.'/utilisateur';?>">Utilisateurs</a></li>
					<li> <a href="<?php echo BASE_URL.'/album';?>">Albums</a></li>
					<li> <a href="<?php echo BASE_URL.'/contact';?>">Contacts</a></li>
					<li> <a href="#">A propos</a></li>
					<li> <a href="<?php echo BASE_URL.'/connexion';?>">Connexion</a></li>
				</ul>
				<h3 class="muted">Réseau social Musique
			</h3>
		</div>
      <p>
				<?php if(isset($_SESSION['message'])) {
					echo $_SESSION['message'];
					header('Refresh: 1; /public/inscription');
					echo "<br>Vous allez etre rediriger vers la page d'inscription ";
				} else {
					echo "Merci de votre inscription. Un administrateur va la prendre en charge";
					header('Refresh: 4; /public');
				}
				?>
      </p>
			<hr>
			<div class="text-center">
				<a href="<?php echo BASE_URL;?>">page d'accueil</a>
			</div>
		</footer>
	</div>
</body>
</html>