<!DOCTYPE html>
<html>
	<head>
		 <meta charset="utf-8"/>
		 <title>$this->album->nomAl</title>
		 <link href='<?php echo BASE_URL."/css/bootstrap.css";?>' rel="stylesheet" />
	</head>
	<body>
		<div class="container">
			<div class="page-header">
			</div>
			<table class="table table-stripped">
				<tbody>
					<tr>
						<td>Titre de l'album</td><td><?php echo $this->album->nomAl;?></td>
					</tr>
					<tr>
						<td>Nom de l'artiste</td><td><?php echo $this->album->idArt;?></td>
					</tr>
					
				</tbody>
			</table>
		 <footer>
			 <hr>
			 <p class="text-center"><a href='<?php echo BASE_URL?>'>retour à la page d'acceuil</a></p>
		 </footer>
		 </div>
	</body>
</html>