<?php session_start(); ?>
<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8"/>
	<link href="<?php echo BASE_URL.'/css/bootstrap.css';?>" rel="stylesheet" />

		<title>Album</title>
	</head>
	<body>
		<div class="container">
			<div class="page-header">
				<h1>Listes des albums</h1>
			</div>
			<table class="table table-stripped">
				<thead>
					<tr>
						<th>Titre de l'album</th><th>Artiste</th><th>Genre</th><th></th>
					</tr>
				</thead>
				<tbody>
					<?php foreach($this->list as $album) : ?>
					<tr>
						<td><?php echo $album->nomAl;?></td>
						<td><?php echo $album->nomArt;?></td>
						<td><?php echo $album->genre;?></td>
						<td><a href='<?php echo BASE_URL."/album/afficher/".$album->idAl;?>' 
								class="btn btn-info"><i class="icon icon-search"><i></a>
						</td>
					</tr>
					<?php endforeach;?>
				</tbody>
			</table>
				<a href='<?php echo BASE_URL."/album/ajouterAlbum"?>' class="ajoutNew">Ajouter un nouvel album</a>
			<footer>
				<div class="text-center">
					<a href="<?php echo BASE_URL;?>">page d'accueil</a>
				</div>
			</footer>
		</div>
	</body>
</html>