<?php session_start(); ?>
<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />
  <title>Ajouter un album - Frencheese</title>
  <link href='<?php echo BASE_URL."/css/bootstrap.css";?>' rel="stylesheet" />
</head>

<body>
  <div class="container">
    <div class="page-header">
      <ul class="nav nav-pills pull-right">
        <li> <a href="<?php echo BASE_URL.'/artiste';?>">Artistes</a></li>
        <li> <a href="<?php echo BASE_URL.'/album';?>">Albums</a></li>
        <li> <a href="<?php echo BASE_URL.'/contact';?>">Contacts</a></li>
        <?php
        if (isset($_SESSION['droit'])) {
          $co = "Deconnexion";
          $lien = BASE_URL.'/deconnexion';
        } else {
          $co = "Connexion";
          $lien = BASE_URL.'/connexion';
        }

        if(!isset($_SESSION['droit'])) {
        ?>
        <li> <a href="<?php echo BASE_URL.'/inscription';?>">Inscription</a></li>
        <?php } ?>
        <li> <a href="<?php echo $lien;?>"><?php echo $co ?></a></li>
      </ul>
      <h1>Ajouter un nouvel album</h1>
    </div>
    <form action="<?php echo BASE_URL. '/album/envoyerAlbum';?>" method="post">
      <table>
        <tr>
          <td><label for="nomAl">Titre de l'album</label></td>
          <td><input type="text" placeholder="titre" name="nomAl" required><br></td>
        </tr>
        <tr>
          <td><label>Nom de l'artiste </label></td>
          <td>
            <select name="nomArt" required>
      <?php foreach($this->list as $artiste) : ?>
      <option><strong><?php echo $artiste->nomArt;?></strong></option>
      <?php endforeach;?>
   </select></td>
          <td><a href='<?php echo BASE_URL."/artiste/envoyerArtiste"?>'><I>L'artiste n'est pas dans la liste?</I></a></td>
        </tr>
        <tr>
          <td><label for="dateAl">Date de sortie</label></td>
          <td><input type="date" placeholder="aaaa-mm-jj" name="dateAl"><br></td>
        </tr>
        <tr>
          <td><label for="genre">Genre</label></td>
          <td><input type="text" placeholder="genre" name="genre"></textarea>
          </td>
        </tr>
        <tr>
          <td><input type="submit" class="ajoutNew" value="Ajouter"></td>
        </tr>
      </table>
    </form>

    <footer>
      <hr>
      <p class="text-center"><a href='<?php echo BASE_URL?>'>retour à la page d'acceuil</a></p>
    </footer>
  </div>
</body>

</html>